BUNNY_DATABASE_URL={{ op://neln7m3kkk2mowlzhfdbcinqjy/${COMPAT_API_DB:-76q7tx7n4eppohgw3o5pkoaejq}/connection }}
BUNNY_DATABASE_AUTH_TOKEN={{ op://neln7m3kkk2mowlzhfdbcinqjy/${COMPAT_API_DB:-76q7tx7n4eppohgw3o5pkoaejq}/tokens/full-access }}
DEPLOY_ENV=stage